body{
    background-repeat: repeat-y;
   background-color: rgb(241, 241, 241);
    background-position: 20%;
    line-height: 1.4;
    margin: 0 auto;
    box-shadow:  0px 0px 30px 5px #350b5d;
}
.bor {
    margin-bottom: 5px;
    border-radius: 12px;
}
.w-100 {
    width: 100%!important;
}
.d-block {
    display: block!important;
}
.img {
    vertical-align: middle;
    border-style: none;
}
.regis-a {
    text-align: center;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: lighter;
    line-height: 1.1;
    background: linear-gradient(to bottom, rgba(217,178,255,1) 0%, rgba(132,0,255,1) 100%);
    box-shadow: 0px 0px 20px 0px rgba(149,37,255,1) !important;
}
.hvr-pulse-grow {
    vertical-align: baseline !important;
}
.line-a{
    text-align: center;
    font-weight: normal;
    color: #fff;
    padding: 10px 10px 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: lighter;
    background-color: #00c300;
    
}
.login-a {
    text-align: center;
    font-weight: normal;
    color: rgb(0, 0, 0);
    padding: 10px 10px 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: lighter;
    background-image: linear-gradient(180deg, #c0f335 0%, #8bd13b 100%);
    
}
.tab-content-detail{
    background-color: #ffffff
}
.silder-img{

        width: 50%;
        text-align: center;
}
.nav-bg{
    background-color: transparent;
    background-image: linear-gradient(to bottom, #1b1a1b 0, #1a1a1a 100%); 
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.termofuse-container {
    background-color: #2f2e3f;
    border-radius: 5px;
    color: #ffffff;
    padding: 1rem 1rem;
}
.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #2f2e3f;
    border-radius: .25rem;
}
.textslide{
    background-color: #ffffff;
}

.text-muster{
    color: rgb(29, 29, 29) !important;
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
}
.text-menuted{
    color: rgb(44, 44, 44) !important;
    font-family: 'Prompt', sans-serif;
    font-size: 18px;
    
}
.text-onboard{
    color: white !important;
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
}
.bg-black{
    background-color: #1e003b;
}
.text-header{
    color: #1a1a1a!important;
    font-size: 28px;
    font-family: 'Prompt', sans-serif;
    font-weight: 900;
}
.silder-img{
    width: 100%;
    text-align: center;
}
.body-bgcolor{
    background-color: black;
}
.Detail-bar{
        margin: -20px 0px -20px 0px;
        padding: 0px 0px 0px 0px;
        background-color: transparent;
        background-image: linear-gradient(180deg, #c0f335 0%, #8bd13b 100%);
        border-radius: 10px 10px 10px 10px;
        
}
.marketing .col-lg-4{
    margin-bottom: 1.5rem;
    text-align: center;
}
.col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.icon-three{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.pt-1, .py-1 {
    padding-top: .25rem!important;
}
.topmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.topmenu ul li a {
    float: left;
    color: rgb(25, 29, 27);
    text-align: center;
    padding: 18px 27px;
    font-size: 1em;
    position: relative;
    transition: 0.5s;
}
.topmenu {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 100%;
    height: 65px;
}
.page-footer
{
    background-color: #ffffff;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.portfolio .portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 30px;
    border-radius: .5rem;
    overflow: hidden;
}